*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html,body{
    width:100%;
    height:100%;
    overflow:hidden;
    background:#000;
}

/* 场景 */
#scene{
    position:relative;
    width:100%;
    height:100%;
}

/* 背景层 */
.bg{
    position:absolute;
    inset:0;

    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;

    transition:opacity .3s ease;
}

/* 三张图 */
#bg1{
    background-image:url("./assets/images/6-1.png");
    opacity:1;
}

#bg2{
    background-image:url("./assets/images/6-2.png");
    opacity:0;
}

#bg3{
    background-image:url("./assets/images/6-3.png");
    opacity:0;
}

/* 暗角 */
#scene::after{
    content:"";
    position:absolute;
    inset:0;
    background:radial-gradient(circle, rgba(0,0,0,0) 40%, rgba(0,0,0,0.7) 100%);
    pointer-events:none;
}

/* 马灯 */
#lantern{
    position:absolute;
    bottom:25vh;   /* ↑ 原来是 6vh，现在抬高 */
    left:15vh;
    width:70vw;    /* 稍微收一点避免太大 */
    transform:translateX(-50%);
    will-change:transform;
    z-index:50;    /* ↑ 提高层级（关键） */
    pointer-events:none;
}

/* 提示 */
#tip{
    position:absolute;
    bottom:18px;
    left:50%;
    transform:translateX(-50%);

    color:#fff;
    font-size:13px;

    background:rgba(0,0,0,0.4);
    padding:6px 12px;
    border-radius:20px;
}
